form(action="/contactInfo/"+buy._id+"/dataCenter/buy" method="post")
    section(name="1_Data_Center_Equipment_Description" default=values._1)
        header Data Center IT Equipment
        p Give a brief with quantities?
        if values._1
            p You said: #{values._1}
        input(type="text")
        footer Reply with text
    section(name="2_Target_Budget" default=values._2)
        header Data Center IT Equipment
        p Your target budget? (optional)
        if values._2
            p You said: #{values._2}
        input(type="text")
        footer Reply with text
    section(name="3_Delivery" default=values._3)
        header Required?
        p When is it needed?
        //p example: now, after 3 weeks, June 2
        if values._3 != "Now"
            p You said: #{values._3}
        input(type="date")