form(action="/contactInfo/"+sell._id+"/personal/sell" method="post")
    section(name="1_Laptops" default=values._1)
        header Laptops
        p What brands/model and how many?
        if values._1
            p You said: #{values._1}
        input(type="text")
        footer Reply with text
    section(name="2_Desktops" default=values._2)
        header Desktops
        p What brands/model and how many?
        if values._2
            p You said: #{values._3}
        input(type="text")
        footer Reply with text
    section(name="3_Printers" default=values._3)
        header Printers
        p What brands/model and how many?
        if values._3
            p You said: #{values._3}
        input(type="text")
        footer Reply with text
    section(name="4_Storage_Devices" default=values._4)
        header Storage Devices
        p What brands/model and how many?
        if values._4
            p You said: #{values._4}
        input(type="text")
        footer Reply with text
    section(name="5_Equipment_Location" default=values._5)
        header Equipment Location
        p Where is this equipment?
        if values._5 != "Storage"
            p You said: #{values._5}
        else
            p (Default = Storage)
        ul
            li(value="Home/Office") Home/Office
            li(value="Storage") Storage
    section(name="6_Inspect" default=values._6)
        header When can we inspect?
        p When can we inspect?
        p example: now, after 3 weeks, June 2
        if values._6 != "Now"
            p You said: #{values._6}
        else
            p (Default = Now)
        input(type="date")
    section(name="7_Pickup" default=values._7)
        header When can we pickup?
        p When can we pickup?
        p example: now, after 3 weeks, June 2 
        if values._7 != "Now"
            p You said: #{values._7}
        else
            p (Default = Now)
        input(type="date")