form(action="/templateSave/"+_id)
    each variable in variables
        if variable.split(':')[1].startsWith("image_")
            section(name=variable.split(':')[1] required)
            header Template #{name} Data
            p #{variable.split(':')[0]}
            p Image for: #{variable.split(':')[1]}
            p For an array of images use "::" as a separator
            input(type="text")
        else
            section(name=variable.split(':')[1] required)
                header Template #{name} Data
                p #{variable.split(':')[0]}
                p Value(s) for: #{variable.split(':')[1]}
                p For an array of values use "::" as a separator
                input(type="text")
