form(action="/contactInfo/"+sell._id+"/commercial/sell" method="post")
    section(name="1_Epos_Terminals" default=values._1)
        header EPOS Terminals
        p What brands/model and how many?
        if values._1
            p You said: #{values._1}
        input(type="text")
        footer Reply with text
    section(name="2_Ticket_Printers" default=values._2)
        header Ticket Printers
        p What brands/model and how many?
        if values._2
            p You said: #{values._2}
        input(type="text")
        footer Reply with number
    section(name="3_Scanners" default=values._3)
        header Scanners
        p What brands/model and how many?
        if values._3
            p You said: #{values._3}
        input(type="text")
        footer Reply with text
    section(name="4_Equipment_Location" default=values._4)
        header Equipment Location
        p Where is this equipment?
        if values._4 != "Storage"
            p You said: #{values._4}
        else
            p (Default = Storage)
        ul
            li(value="Shop") Shop/business
            li(value="Storage") Storage
    section(name="5_Inspect" default=values._5)
        header Inspection
        p When can we inspect?
        p example: now, after 3 weeks, June 2
        if values._5 != "Now"
            p You said: #{values._5}
        else
            p (Default = Now)
        input(type="date")
    section(name="6_Pickup" default=values._6)
        header Collection
        p When can we pickup?
        p example: now, after 3 weeks, June 2
        if values._6 != "Now"
            p You said: #{values._6}
        else
            p (Default = Now)
        input(type="date")