form(action="/contactInfo/"+buy._id+"/personal/buy" header="Personal")
    section(name="1_Personal_Business_Equipment_Description" default=values._1)
        header Personal/Business IT Equipment
        p Give a brief with quantities?
        if values._1
            p You said: #{values._1}
        input(type="textarea")
        footer Reply with text
    section(name="2_Target_Budget" default=values._2)
        header Personal/Business IT Equipment
        p Your target budget? (optional)
        if values._2
            p You said: #{values._2}
        input(type="textarea")
        footer Reply with text
    section(name="3_Delivery" default=values._3)
        header Required?
        p When is it needed?
        if values._3
            p You said: #{values._3}
        input(type="date")