section
  header IT Equipment
  if mode == "sell"
    p What general category of IT equipment are you selling?
  else
    p What general category of IT equipment are you looking for?
  ul
    //- li 
    //-   a(href="/grade/dataCenter/"+mode) Data Center
    //- li 
    //-   a(href="/grade/commercial/"+mode) Commercial/Retail
    //- li 
    //-   a(href="/grade/personal/"+mode) Personal/Business
    //- Added the following code because there is no uploading
    if mode == "sell"
      li 
        a(href="/sellDataCenter") Data Center
          img(src=url)
      li 
        a(href="/sellCommercial") Commercial/Retail
          img(src=url)
      li 
        a(href="/sellPersonal") Personal/Business
          img(src=url)
    else
      li 
        a(href="/buyDataCenter") Data Center
          img(src=url)
      li 
        a(href="/buyCommercial") Commercial/Retail
          img(src=url)
      li 
        a(href="/buyPersonal") Personal/Business
          img(src=url)

          