- function lines(text) {
- return text.split("\n")
- }
section
  img(src="https://reclaim.onem.app/assets/reclaim-logo-240x80.png alt="www.Reclaim-uk.com"")
  if !preBody && !master
    header IT Assets
    p Welcome!
    p We buy, source and sell pre-owned IT equipment.
    p What would you like to do?
  else if !master
    header IT Assets
    each line in lines(preBody)
      p #{line}
  else 
    header ADMIN #{name}
    each line in lines(preBody)
      p #{line}
  ul
    if !master
      if sells > 0 
        li 
          a(href="/sellHistory") Your sell enquiries (#{sells})
        li 
          a(href="/gradeSelect/sell") Make another sell enquiry
      else
        li 
          a(href="/gradeSelect/sell") I'm looking to sell
      if buys > 0
        li 
          a(href="/buyHistory") Your buy enquiries (#{buys})
        li 
          a(href="/gradeSelect/buy") Make another buy enquiry
      else 
        li 
          a(href="/gradeSelect/buy") I'm looking to buy
    else
        li Enquiry (active/new)
        li 
          a(href="/sellHistory") Sell Enquiries (#{sells}/#{sellsNew})
        li 
          a(href="/buyHistory") Buy Enquiries (#{buys}/#{buysNew})
        li 
          a(href="/contactList") Contacts (#{contacts})
        li 
          a(href="/templatesList") Templates (#{templates})
        li 
          a(href="/settings") Settings